<form ng-submit="login()" class="col-8">
	<div class="form-group">
		<label for="username">Username</label>
	    <input type="text" class="form-control" id="user" ng-model="username" placeholder="Enter username">
    
	</div>
	<div class="form-group">
		<label for="username">Password</label>
	    <input type="password" ng-model="password" class="form-control" id="user" placeholder="Enter pasword">
		
	</div>
	<div class="text-center">
		<input type="submit" value="sign in"class="btn btn-success">
	</div>
</form>