<h2 class="text-center">Register</h2>
<div  >
	<form ng-submit="login()" >
	<div class="form-group">
		<label for="username">Username</label>
	    <input type="text" class="form-control" id="user" ng-model="username" placeholder="Enter username">
    
	</div>
	<div class="form-group">
		<label for="username">Password</label>
	    <input type="password" ng-model="password" class="form-control"  placeholder="Enter pasword">
		
	</div>
	<div class="form-group">
		<label for="username">confirme Password</label>
	    <input type="password" ng-model="confirmedPassword" class="form-control"  placeholder="Confirme pasword">
		
	</div>
	<div class="text-center">
		<input type="submit" value="sign up"class="btn btn-success">
	</div>
</form>
</div>